{
    "singleQuote": true,
    "parser": "flow",
    "tabWidth": 4,
    "bracketSpacing": false,
    "printWidth": 100,
    "trailingComma": "all",
    "overrides": [
      {
        "files": ["*.ts", "*.tsx"],
        "options": {
          "parser": "typescript"
        }
      }
    ]
  }