/**
 * COLORS
 *
 * How to get color name:
 * use this service http://chir.ag/projects/name-that-color/
 *
 * How to create variable:
 * --color-[your color name] like these: --color-white, --color-black etc...
 */

:root {
    --color-mine-shaft: #333;
    --color-white: #fff;
    --color-alabaster: #fafafa;
}
